/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ========= 淺色主題 ========= */
:root {
  /* 基本色系 */
  --color-primary: #c49066;          /* 深奶茶主色，讓元素跳起來 */
  --color-secondary: #9C7B5F;        /* 次色，溫暖棕色 */
  --color-highlight: #A6C48A;        /* 抹茶綠，醒目 */
  --color-text: #4A3221;             /* 主文字色，深棕 */
  --color-text-secondary: #7F6A58;   /* 次文字色，柔和 */
  --color-background: #FAF1E9;       /* 奶茶米白，溫暖底色 */
  --color-surface: #E1CFC0;          /* 卡片色，比背景深 */
  --color-success: #8ad18c;          /* 成功綠 */
  --color-danger: #e16462;           /* 危險紅 */

  /* ========== ICE ========== */
  /* 固定為藍色主題 */
  --color-primary-ice: #A8B7C7;      /* 主色：霧藍灰 */
  --color-primary-ice-rgb: 168 183 199;     /* #A8B7C7 */
  --color-secondary-ice: #60728A;    /* 次色：深藍灰 */
  --color-text-ice: #4A5A6A;         /* 字色：適合淺藍背景 */

  /* ========== SUGAR ========== */
  /* 固定為粉紅色主題 */
  --color-primary-sugar: #D8A7B1;     /* 主色：乾燥玫瑰粉 */
  --color-primary-sugar-rgb: 216 167 177;   /* #D8A7B1 */
  --color-secondary-sugar: #B07585;   /* 次色：深粉灰 */
  --color-text-sugar: #B07585;        /* 文字色：適合粉色底 */

}


/* ========= 深色主題 ========= */
.dark {
  /* 基本色系 */
  --color-primary: #C1A78C;
  --color-secondary: #8C7763;
  --color-highlight: #A6C48A;
  --color-text: #EADDCB;
  --color-text-secondary: #B6A89B;
  --color-background: #1D1A17;
  --color-surface: #3B322A;
  --color-success: #81C784;
  --color-danger: #EF9A9A;

  /* ========== ICE ========== */
  --color-primary-ice: #6F8CA0;       /* 與淺色版一致，偏中性明亮 */
  --color-primary-ice-rgb: 111 140 160;   /* #A8B7C7 */
  --color-secondary-ice: #60728A;
  --color-text-ice: #bbd5ee;

  /* ========== SUGAR ========== */
  --color-primary-sugar: #AD7480;     /* 豆沙莓紅 */
  --color-primary-sugar-rgb: 173 116 128; /* #AD7480 */
  --color-secondary-sugar: #8A5D66;   /* 深玫瑰棕 */
  --color-text-sugar: #F0CED3;        /* 粉白文字，適合深粉背景 */
}

header {
  height: 74px;
}
section {
  min-height: calc(100vh - 104px);
  padding: 10px;
}
footer {
  height: 30px;
}
