/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 淺色主題 */
:root {
  --color-primary: #c49066;       /* 深奶茶主色，讓元素跳起來 */
  --color-secondary: #9C7B5F;     /* 次色，溫暖棕色 */
  --color-highlight: #A6C48A;     /* 抹茶綠，醒目 */
  --color-text: #4A3221;          /* 主文字色，深棕 */
  --color-text-secondary: #7F6A58; /* 次文字色，柔和 */
  --color-background: #FAF1E9;    /* 奶茶米白，溫暖底色 */
  --color-surface: #E1CFC0;       /* 卡片色，比背景深 */
  --color-success: #4CAF50;       /* 成功綠 */
  --color-danger: #E53935;        /* 危險紅 */
}

/* 深色主題 */
.dark {
  --color-primary: #C1A78C;
  --color-secondary: #8C7763;
  --color-highlight: #A6C48A;
  --color-text: #EADDCB;
  --color-text-secondary: #B6A89B;
  --color-background: #1D1A17;
  --color-surface: #3B322A;
  --color-success: #81C784;
  --color-danger: #EF9A9A;
}





header {
  height: 74px;
}
section {
  min-height: calc(100vh - 104px);
  padding: 10px;
}
footer {
  height: 30px;
}
