/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #b5916a;      /* 奶茶色 */
  --color-secondary: #986a49;    /* 黑珍珠色 */
  --color-text: #3e2f1c;         /* 深咖啡文字色 */
  --color-background: #f6eee3;   /* 乳白背景 */
  --color-success: #2a9d8f;      /* 美綠色 */
  --color-danger: #dc3545;       /* 紅色 */
}

.dark {
  --color-primary: #8c6b3d;
  --color-secondary: #2c1f11;
  --color-text: #d4c5a5;
  --color-background: #2b2211;
  --color-success: #1f776f;
  --color-danger: #e55353;
}

header {
  height: 74px;
}
section {
  min-height: calc(100vh - 104px);
}
footer {
  height: 30px;
}
